.wrapper {
    min-height: 140vh;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.wrap {
    display: flex;
}

.light-theme {
    background-color: white;
}
.dark-theme {
    background-color: black;
}
