.div-flex {
    display: flex;
}

.Profile-title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}

.name-wrapper {
    background-color: #242426;
    width: 889px;
    height: 168px;
    border-radius: 10px;
    display: flex;
}

.name-settings-input {
    background-color: #323537;
    color: #FFFFFF;
    border-radius: 10px;
    height: 48px;
    width: 384px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: none;
    text-indent: 20px;
}

.name-input-wrapper {
    padding: 40px 40px 0 35px;
}

.email-settings-input {
    background-color: #323537;
    color: #FFFFFF;
    border-radius: 10px;
    height: 48px;
    width: 384px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: none;
    text-indent: 20px;
}

.email-input-wrapper {
    padding: 40px 40px 0 0;
}

.name-settings-wrapper {
    padding-bottom: 8px;
}

.email-settings-wrapper {
    padding-bottom: 8px;
}

.change-password-wrapper {
    display: flex;
    width: 889px;
    height: 280px;
    background-color: #242426;
    border-radius: 10px;
    margin-top: 16px;
}

.confirm-pass {
    display: block;
}

.color-mode-wrapper {
    width: 889px;
    height: 100px;
    background-color: #242426;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.color-mode-settings-wrapper {
    margin-top: 40px;
}

.color-mode-text-wrapper {
    margin-left: 40px;
}

.color-mode-title {
    color: #FFFFFF;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.color-mode-text {
    color: #AFB2B6;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #7B61FF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7B61FF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.dark-mode-switcher {
    margin-left: 650px;
}

.settings-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
    padding-bottom: 64px;
}

.button-cancel {
    width: 266px;
    height: 56px;
    border-radius: 10px;
    background-color: #323537;
    margin-right: 40px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    border: none;
    }

.button-save {
    width: 266px;
    height: 56px;
    border-radius: 10px;
    background-color: #7B61FF;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    border: none;
}