@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

.header {
    display: flex;
    padding-left: 65px;
    align-items: center;
}

.search-input {
    width: 850px;
    height: 45px;
    border-radius: 10px;
    background-color: #323537;
    border: none;
    padding: 0 20px;
    font-family: 'Exo 2', 'sans-serif';
    font-weight: 500;
    font-size: 16px;
    color: #AFB2B6;
    position: relative;
}

.search-input:active, :focus {
    border: 2px solid #7B61FF;
}

.search-input:active,:hover, :focus {
    outline: none;
}

.Logo {
    display: flex;
    margin-top: 18px;
    justify-content: center;
}

.Search {
    margin-top: 40px;
    padding-left: 45px;
}

.filter-icon {
    position: absolute;
    left: 1125px;
    top: 52px;
    cursor: pointer;
}