.dark-theme {
    background-color: black;
    color: #FFFFFF;
}
.light-theme {
    background-color: #FFFFFF;
    color: #80858B;
}

.light-input {
    border: 2px solid #AFB2B6;
    background-color: #FFFFFF;
    color: #80858B;
}

.light-input:active, :focus {
    border: 2px solid #7B61FF;
}

.light-input:active,:hover, :focus {
    outline: none;
}

.dark-input {
    color: #FFFFFF;
    background-color: #323537;
}

.dark-input:active, :focus {
    border: 2px solid #7B61FF;
}

.dark-input:active,:hover, :focus {
    outline: none;
}

.dark-line {
    background-color: #323537;
}

.light-line {
    background-color: #AFB2B6;
}

.dark-button {
    background-color: #323537;
}

.light-button {
    background-color: #80858B;
}

.dark-form {
    background-color: #242426;
}

.light-form {
    background-color: #80858B;
}

.dark-rate-form {
    background-color: #242426;
}

.light-rate-form {
    background-color: #80858B;
}

.dark-text {
    color: #FFFFFF;
}

.light-text {
    color: #242426;
}

.dark-button-menu-wrapper {
    border: 2px solid #323537;
    background-color: black;
}

.light-button-menu-wrapper {
    border: 2px solid #AFB2B6;
    background-color: #FFFFFF;
}